<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-2 pb-3 flex-row">
                <img src="images/logo.png" alt="Логотип"/>
            </div>
        </div>

    </div>
</header>