@using IssuerPersonalAccount.Data
@using Microsoft.AspNetCore.Identity

@rendermode InteractiveServer

<Dropdown Direction="DropdownDirection.Dropstart">
    <DropdownToggleButton Class="border-0">
        <Icon Name="IconName.PersonCircle" Size="IconSize.x4"/>
    </DropdownToggleButton>
    <DropdownMenu Position="DropdownMenuPosition.Start">
        <button @onclick="HandleExitButtonClick">Выйти</button>
    </DropdownMenu>
</Dropdown>
