@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --red-color-main: #b82116;
    --yellow-color-main: #FBCB18;
}

*{
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    overflow: auto;
}

.bg-yellow{
    background-color: var(--yellow-color-main);
}