@page "/requests"

<div class="container py-5 px-3 d-flex flex-column w-100 h-100">
    <div class="mb-5">
        <h2 class="list-header">5.2 Распоряжения на предоставление информации Эмитенту для общего собрания акционеров</h2>
        <ul class="list-group">
            <li class="list-group-item border-0">
                <a class="link" href="#">Распоряжение Эмитента на список к ОСА</a>
            </li>
        </ul>
    </div>
    <div>
        <h2 class="list-header">5.2 Распоряжения на предоставление информации Эмитенту</h2>
        <ul class="list-group">
            <li class="list-group-item border-0">
                <a class="link" href="#">Распоряжение Эмитента на предоставление информации из реестра</a>
            </li>
            <li class="list-group-item border-0">
                <a class="link" href="#">Распоряжение Эмитента о предоставлении Списка лиц, имеющих право на получение доходов по ценным бумагам</a>
            </li>
        </ul>
    </div>
</div>